 html{
background-color: black;
} 


 nav{
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	word-spacing: 30px;
}
.h{
	color:white ;
	text-align: right;
	font-family: sans-serif;
	vertical-align: middle;
	font-style: italic;
}

.disp{
	display: inline-table;
}

a{
margin: 16px;
text-decoration: none;
color: blue;
font-weight: bold;

}
a:hover,a:active {
	color: white;
	border-bottom: 5px solid white;
}
.main-nav a{
	background-color:#2ddf5c;
	padding: 8px 16px;
	border-radius: 8px;
	margin: 8px;
}
.main-nav a:hover, .main-nav a:active{
	color: #ff1b68;
	background-color: white;
	border: nones;

}


.head{
	text-align: left;
	display:block;
	font-size: 30px;
	color: black;
	margin: 25px;

}
/*.head:hover{
	color: deeppink;
}
.head:active{
color: deeppink;
}*/
body{
	margin: 0px;
	box-sizing: border-box;
}
img{
	width: 150%;
	margin: 0px;
	border: 10px;
	height: 500px;
}


.main-nav__item{
	text-decoration: none;

}
/*.main-nav__item:hover {
color: white;
}
.main-nav__item:active {
color: white;
}*/
.plan{
	background:lightgreen;
	text-align: center;
	padding: 16px;
	margin: 8px;
	display: inline-block;
width: 25%;
border-radius: 8px;
vertical-align: middle;
}
.main{
	text-align: center;
	color:forestgreen ;
	padding: 8px 16px;
	font-size: 40px;
	margin: 8px;}
	.plan-edt{
		background-color: green;
	color: white;
	box-shadow:2px 2px 2px 2px rgb (255, 255, 255);
	}
	.plan-annot{
		background-color: white;
		color: #19b84c;
		padding: 8px;
		border-radius: 8px;
	}
	.plan-feature{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.button{
		
		background: #0e4f1f;
		color:white ;
		font: inherit;
		border: 1.5px solid;
		padding: 8px;
		border-radius: 8px;
		font-weight: bold;
		cursor:pointer ;
	}
	.button:hover, .button:active{
		background-color: white;
		color: #0e4f1f;
	}
	.position{
		position:absolute;
		top: 100px;
		left: 600px;

	}
	.position1{
			position:absolute;
		top: 150px;
		left: 600px;
	}
	.position2{
		position: absolute;
		top:200 ;
		left: 60s0px;
	}
	


